* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.Container {
  width: 50%;
  margin: 150px auto;
}

.heading {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputField {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.inputField::placeholder{
    color: white;
}

.inputField:focus{
    outline: none;
}

.submitBtn{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}